!!!
html
  head
    meta(charset='utf-8')
    //- meta(name='viewport', content='width=1024')
    meta(name='apple-mobile-web-app-capable', content='yes')
    
    title The Revolutionary CSS 3
    meta(name='author', content='Scott Cheng')
    meta(name='description', content='A non-technical intro to CSS level 3')

    link(href='http://fonts.googleapis.com/css?family=Telex', rel='stylesheet')
    link(href='style.css', rel='stylesheet')
    link(rel='shortcut icon', href='favicon.png')
    link(rel='canonical', href='http://scottcheng.github.com/revolutionary-css3/')

  body.impress-not-supported

    #fallback-message
      | You must be either using a mobile browser or an ancient one!<br />
      | If the latter, I sincerely suggest you come back in <a href="http://www.google.com/chrome/" target="_blank">Chrome</a>.

    #hint
      p Use spacebar, arrow keys or page up / down to navigate

    script
      if ('ontouchstart' in document.documentElement) {
        document.querySelector('.hint').innerHTML = '<p>Tap on the left or right to navigate</p>';
      }

    #impress

      #title.step(
        data-z=500
        data-rotate=60
        data-rotate-x=-15
        data-rotate-y=15
        data-scale=1
      )
        .info Best with <a href="http://www.google.com/chrome/" target="_blank">Chrome</a>
        h1
          | <span class="article">The</span><br />
          | <span class="adj">Revolutionary</span><br />
          | <span class="noun">CSS 3</span>
        .subtitle A non-technical intro to CSS level 3

      #impact.step(
        data-x=-600
        data-y=0
        data-rotate=90
        data-scale=0.25
      )
        p Web UI development has never been so <em>simple</em> and <em>flexible</em>.

      #impact-old.step(
        data-x=-810
        data-y=0
        data-rotate=90
        data-scale=0.25
      )
        p.visual
          | <em>Stunning visual effect</em><br />
          | with <span class="problem">large, non-flexible images</span>
        p.animation
          | <em>Fancy animation</em><br />
          | with <span class="problem">complex, error-prone JavaScript</span>

      #how.step(
        data-x=0
        data-y=0
        data-scale=8
      )
        .how How?

      #border-radius.step.property(
        data-x=-2800,
        data-y=1200
        data-scale=0.5
      )
        h2 Rounded corners
        .content
          .doraemon
            .face
              .base-white
              .lefteye.eye.eye-left
                .leftblackeye.black-eye.black-left
              .righteye.eye.eye-right
                .rightblackeye.black-eye.black-right
              .nose
                .nose-line
              .mouth
              .whiskers.whi-right.whi-top
              .whiskers.whi-right.whi-mid
              .whiskers.whi-right.whi-bottom
              .whiskers.whi-left.whi-top
              .whiskers.whi-left.whi-mid
              .whiskers.whi-left.whi-bottom
          .info Try mouseover Doraemon!

      #shadows.step.property(
        data-x=-1988
        data-y=1200
        data-scale=0.5
      )
        h2 Shadows
        .content
          .inset
            | Greetings,<br />
            | my name is shadow.

      #gradient.step.property(
        data-x=-1176
        data-y=1200
        data-scale=0.5
      )
        h2 Gradient
        .content
          .apple-nav
          .radial

      #google-lofter.step(
        data-x=-770
        data-y=1500
        data-z=100
        data-rotate-x=-75
        data-scale=0.25
      )
        .google-box.box
          .title Google
          .content
            .google-button Compose
            .google-button Create
            .google-button Subscribe
        .lofter-box.box
          .title Lofter
          .content
            img(src='img/lofter.png')

      #opacity.step.property(
        data-x=-364
        data-y=1200
        data-scale=0.5
      )
        h2 Opacity (&amp; transition)
        .content
          .renren-button
            .renren-button-icon
            .renren-button-text Download Album
          .info Try mouseover the button!

      #opacity-image.step(
        data-x=42
        data-y=1500
        data-z=100
        data-rotate-x=-75
        data-scale=0.25
      )
        .image-wrapper
          img(src='img/heart.jpg')
          .caption heart.

      #reflect.step(
        data-x=448
        data-y=1200
        data-scale=0.5
      )
        h2 Reflection
        .content
          .ibooks-wrapper
            img.ibooks(src='img/ibooks.jpg')
          .info (WebKit only)

      #transform.step(
        data-x=1260
        data-y=1200
        data-scale=0.5
      )
        h2 Transformation
        .content
          .tag Text overflow
          .tag Columns
          .tag Shadows
          .tag Text stroke
          .tag Rounded corners
          .tag Gradient
          .tag Opacity
          .tag Reflection
          .tag Transition
          .tag Transformation

      #animation.step(
        data-x=2072
        data-y=1200
        data-scale=0.5
      )
        h2 Animation
        .content
          .spinner
            .spinner-dot
            .spinner-dot
            .spinner-dot
            .spinner-dot
            .spinner-dot
            .spinner-dot
            .spinner-dot
            .spinner-dot

      #end.step(
        data-x=750
        data-y=1800
        data-z=450
        data-scale=0.2
        data-rotate-x=-60
        data-rotate-y=45
      )
        .credits
          h2
            | <a href="#title" class="title">The Revolutionary CSS 3</a><br />
            | brought to you by
            | <a href="https://github.com/scottcheng" target="_blank">Scott Cheng</a>
          p
            | <a href="http://bartaz.github.com/impress.js/" target="_blank">impress.js presentation framework</a>
            | by
            | <a href="http://bartaz.github.com/" target="_blank">Bartek Szopka</a>
          p
            | <a href="http://www.google.com/webfonts/specimen/Telex" target="_blank">Telex font</a>
            | by Andrés Torresi for
            | <a href="http://www.huertatipografica.com.ar/" target="_blank">Huerta Tipográfica</a>
          p
            | <a href="http://subtlepatterns.com/light-wool/" target="_blank">Light wool pattern</a>
            | by
            | <a href="http://www.tall.me.uk/" target="_blank">Andy Davies</a>
          p
            | <a href="http://subtlepatterns.com/low-contrast-linen/" target="_blank">Low contrast linen pattern</a>
            | by Jordan Pittman
          p
            | <a href="#border-radius">Doraemon</a>
            | inspired by 
            | <a href="http://slides.html5rocks.com/#rounded-corners" target="_blank">HTML5 Rocks slides</a>
          p
            | <a href="#transform">CSS3 tags</a>
            | inspired by
            | <a href="http://webdesign.tutsplus.com/tutorials/htmlcss-tutorials/tagtastic-tag-cloud-with-css-transformations/" target="_blank">Luke Spoor</a>
        .css3-logo-wrapper
          svg.css3-logo(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 220.5 199.5')
            path(d='M32.8,0L25.4,37.0 176.0,37.0 171.3,60.9 20.6,60.9 13.3,97.9 163.9,97.9 155.5,140.1 94.8,160.2 42.2,140.1 45.8,121.8 8.8,121.8 0,166.2 87.0,199.5 187.3,166.2 200.6,99.4 203.3,86.0 220.4,0z')


    #social

      .social-button-wrapper
        .g-plusone(data-size='medium', data-annotation='none')

      .social-button-wrapper
        a.twitter-share-button(
          href='https://twitter.com/share',
          data-url='http://scottcheng.github.com/revolutionary-css3/',
          data-counturl='http://scottcheng.github.com/revolutionary-css3/',
          data-count='none'
        ) Tweet

      .social-button-wrapper
        iframe(
          src='http://ghbtns.com/github-btn.html?user=scottcheng&repo=revolutionary-css3&type=fork',
          allowtransparency='true',
          frameborder='0',
          scrolling='0',
          width='53px',
          height='20px'
        )


    script(src='lib/impress.js')
    script
      impress().init();
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="http://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33401065-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      window.addEventListener('hashchange', function() {
        _gaq.push(['_trackEvent', 'Step', 'move', window.location.hash]);
      }, false);